.main {
  display: flex;
  justify-content: center;
  height: 1000px;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 500px;
  height: 300px;
  border: 3px solid black;
  border-radius: 20px;
  padding-top: 20px;
}

.container h1 {
  padding-bottom: 20px;
}

.todoBox {
  padding-bottom: 20px;
}

.todo {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.todoContent {
  padding: 0 3px;
}

.link {
  border-radius: 40px;
  width: 100px;
  height: 40px;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 5px;
  background-color: #fe7600;
  color: white;
  opacity: 1;
  margin-top: 10px;
}

.link:hover {
  opacity: 0.6;
}
